<?xml version="1.0" ?>
<testsuites skipped="{{WARNINGS}}" errors="{{ERRORS_JUNIT}}" failures="{{FAILURES_JUNIT}}" tests="{{TOTAL}}" time="{{TIME}}"
            name="CATS {{VERSION}}">
    {{#TEST_SUITES}}
    <testsuite name="{{fuzzer}}" skipped="{{warnings}}" errors="{{errors}}" failures="{{failures}}"
               tests="{{totalTests}}" time="{{time}}" timestamp="{{TIMESTAMP_ISO}}">
        {{#testCases}}
        <testcase name="{{key}} - {{path}}" classname="{{fuzzer}}" time="{{timeToExecuteInSec}}">
            {{#warning}}
            <skipped>WARN - {{resultReason}} - {{resultDetails}}</skipped>
            {{/warning}}
            {{#error}}
            <error type="{{result}}" message="{{resultReason}}">{{resultReason}} - {{resultDetails}}</error>
            {{/error}}
        </testcase>
        {{/testCases}}
    </testsuite>
    {{/TEST_SUITES}}
</testsuites>