<?xml version="1.0" ?>
<testsuites skipped="{{warnings}}" errors="{{errorsJunit}}" failures="{{failuresJunit}}" tests="{{total}}" time="{{time}}"
            name="CATS {{version}}">
    {{#testSuites}}
    <testsuite name="{{fuzzer}}" skipped="{{warnings}}" errors="{{errors}}" failures="{{failures}}"
               tests="{{totalTests}}" time="{{time}}" timestamp="{{timestampIso}}">
        {{#testCases}}
        <testcase name="{{key}} - {{path}}" classname="{{fuzzer}}" time="{{timeToExecuteInSec}}">
            {{#warning}}
            <skipped>WARN - {{resultReason}} - {{resultDetails}}</skipped>
            {{/warning}}
            {{#error}}
            <error type="{{result}}" message="{{resultReason}}">{{resultReason}} - {{resultDetails}}</error>
            {{/error}}
        </testcase>
        {{/testCases}}
    </testsuite>
    {{/testSuites}}
</testsuites>
