<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%highlight(%-5level)] [%cyan(%mdc{id})] [%cyan(%mdc{fuzzer})] - %msg%n</pattern>
        </encoder>

    </appender>
    <logger name="io.swagger" level="warn"
            additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.http.wire" level="off"
            additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>