<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="styles-cluster.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;800&display=swap" rel="stylesheet">
    <script src="chart.js"></script>
    <script>
        const totalErr = parseInt('{{ERRORS}}'.replace(/ /g, ''));
        const totalWrn = parseInt('{{WARNINGS}}'.replace(/ /g, ''));
        const totalScs = parseInt('{{SUCCESS}}'.replace(/ /g, ''));
    </script>
    <title>Cats</title>
</head>
<body>
<div class="banner-component">
    <div class="flex-items-center">
        <img src="./assets/clock-wise.svg" alt="version">
        <span class="left">
				Generated with CATS {{VERSION}} on {{OS}}
			</span>
    </div>
    <div class="flex-items-center">
        <img src="./assets/clock.svg" alt="timestamp">
        <span>
				{{TIMESTAMP}}
			</span>
    </div>
</div>
<header>
    <div class="logo">
        <img class="logo-white" src="./assets/cats-logo-dark.svg" alt="White Logo">
        {{#JS}}
        <img class="logo-dark" src="./assets/cats-logo-white.svg" alt="Dark Logo">
        {{/JS}}
    </div>
    <div class="theme-toggle">
        <button id="theme-toggle" style="display: none;">
            <img class="theme-icon-light" src="./assets/white-mode-icon.svg" alt="Light Theme Icon">
            <img class="theme-icon-dark" src="./assets/dark-mode-icon.svg" alt="Dark Theme Icon">
        </button>
    </div>
</header>
<main class="container">
    <h2 class="title-section">Overview</h2>
    <div class="grid">
        <div class="card-wrapper">
            <div class="card-header">
                <div>
                    <h2 class="action-tag">Total Tests Run</h2>
                    <p class="big-number">{{TOTAL}} tests</p>
                </div>
            </div>
            {{#JS}}
            <div class="chart-container">
                <canvas id="myChart"></canvas>
                <div id="legend-container"></div>
            </div>
            <script src="draw_chart.js"></script>
            {{/JS}}
            {{^JS}}
            <div>
                <div class="chart-container">
                    <div class="chart">
                        <div class="chart-inner">
                            <div class="chart-bar" style="width: {{ERROR_PERCENTAGE}}%"></div>
                            <div class="chart-bar" style="width: {{WARN_PERCENTAGE}}%"></div>
                            <div class="chart-bar" style="width: {{SUCCESS_PERCENTAGE}}%"></div>
                        </div>
                    </div>
                    <div class="chart-labels">
                        <div class="chart-label">Errors {{ERRORS}}</div>
                        <div class="chart-label">Warnings {{WARNINGS}}</div>
                        <div class="chart-label">Success {{SUCCESS}}</div>
                    </div>
                </div>
            </div>
            {{/JS}}
        </div>
        <div class="grid">
            <div class="card-wrapper icon-card">
                <div class="icon">
                    <img src="./assets/time.svg" alt="execution time" class="time-white">
                    <img src="./assets/time_dark.svg" alt="execution time" style="display: none;" class="time-dark">
                </div>
                <div>
                    <h2 class="action-tag no-top">Execution Time</h2>
                    <p class="big-number">{{EXECUTION}}</p>
                    <div style="margin: 5px;"></div>
                    <h2 class="action-tag">Average Response Time</h2>
                    <p class="big-number">{{AVERAGE_RESPONSE_TIME}}ms</p>
                </div>
            </div>
            <div class="card-wrapper icon-card">
                <div class="icon">
                    <img src="./assets/methods.svg" alt="execution time" class="methods-white">
                    <img src="./assets/methods_dark.svg" alt="execution time" style="display: none;"
                         class="methods-dark">
                </div>
                <div>
                    <h2 class="action-tag no-top">Http Methods in scope</h2>
                    {{#HTTP_METHODS}}
                    <span class="active rounded rounded-{{.}} small-margin">{{.}}</span>
                    {{/HTTP_METHODS}}
                </div>
            </div>
            <div class="card-wrapper icon-card">
                <div class="icon">
                    <img src="./assets/fuzzers.svg" alt="execution time" class="fuzzers-white">
                    <img src="./assets/fuzzers_dark.svg" alt="execution time" style="display: none;"
                         class="fuzzers-dark">
                </div>
                <div>
                    <h2 class="action-tag no-top">Fuzzers run</h2>
                    <p class="big-number"><span class="orange_text">{{FUZZERS}}</span> <span
                            style="color: #9ca3af; font-size: 18px;">out of</span> {{TOTAL_FUZZERS}}</p>
                    <div style="margin: 5px;"></div>
                    <h2 class="action-tag">Paths included</h2>
                    <p class="big-number"><span class="orange_text">{{PATHS}}</span> <span
                            style="color: #9ca3af; font-size: 18px;">out of</span> {{TOTAL_PATHS}}</p>
                </div>
            </div>
            <div class="card-wrapper icon-card">
                <div class="icon">
                    <img src="./assets/link.svg" alt="execution time" class="link-white">
                    <img src="./assets/link_dark.svg" alt="execution time" style="display: none;" class="link-dark">
                </div>
                <div>
                    <h2 class="action-tag no-top">Base path</h2>
                    <p class="small-margin link_text">{{BASE_URL}}</p>
                    <div style="margin: 5px;"></div>
                    <h2 class="action-tag">Spec file name</h2>
                    <p class="small-margin link_text">{{CONTRACT_NAME}}</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="title-section">Execution Details</h2>

    {{#GROUPED_TEST_CASES}}
    <div class="card-wrapper some-margin">
        <div class="error-cluster-header" onclick="toggleErrorCluster(this)">
            <h3 class="error-title">{{resultReason}}</h3>
        </div>
        <div class="error-cluster-content">
            <div class="error-cluster-container">
                {{#clusters}}
                <div class="error-card" style="border-left: 5px solid {{borderColor}};">
                    <h4 class="cluster-title" onclick="toggleCluster(this)">🗄️ Cluster {{clusterId}}</h4>
                    <p><strong>📃 Response:</strong> {{errorMessage}}</p>
                    <div class="cluster-content">
                        {{#paths}}
                        <p><strong>📍 Path:</strong> {{path}}</p>
                        <p><strong>📝 Test Cases:</strong>
                            {{{testCases}}}
                        </p>
                        {{/paths}}
                    </div>
                </div>
                {{/clusters}}
            </div>
        </div>
    </div>
    {{/GROUPED_TEST_CASES}}

</main>
{{#JS}}
<script src="script.js"></script>
{{/JS}}
</body>
</html>